.container {
    width: 90%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

[class*='col-'] {
    float:left;
    margin: 1% 1%;
    /* padding: 1% 0; */
}

.col-1of5 {
    width: 18%;
}

.col-3of10 {
    width: 28%;
}

.col-2of5 {
    width: 38%;
}

.col-3of5 {
    width: 58%;
}

.col-4of5 {
    width: 78%;
}